/**
 * Workflow Editor CSS
 */

.workflow-editor-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.workflow-editor-header {
    padding: 15px 20px;
    border-bottom: 1px solid #e5e7eb;
    background: #fff;
}

.workflow-editor-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #374151;
}

.workflow-editor-iframe-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
}

#workflow-editor-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

