CREATE TABLE "PageComment" (
    "id" TEXT NOT NULL,
    "pageId" TEXT NOT NULL,
    "elementId" TEXT NOT NULL,
    "elementLabel" TEXT,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "linkUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdByUserId" TEXT,
    "updatedByUserId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PageComment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PageCommentRevision" (
    "id" TEXT NOT NULL,
    "commentId" TEXT NOT NULL,
    "previousBody" TEXT NOT NULL,
    "previousLinkUrl" TEXT,
    "previousStatus" TEXT,
    "editedByUserId" TEXT,
    "editedByName" TEXT,
    "editedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PageCommentRevision_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "PageComment_pageId_idx" ON "PageComment"("pageId");

-- CreateIndex
CREATE INDEX "PageComment_pageId_elementId_idx" ON "PageComment"("pageId", "elementId");

-- CreateIndex
CREATE INDEX "PageComment_status_idx" ON "PageComment"("status");

-- CreateIndex
CREATE INDEX "PageCommentRevision_commentId_idx" ON "PageCommentRevision"("commentId");

-- CreateIndex
CREATE INDEX "PageCommentRevision_editedAt_idx" ON "PageCommentRevision"("editedAt");

-- AddForeignKey
ALTER TABLE "PageCommentRevision" ADD CONSTRAINT "PageCommentRevision_commentId_fkey" FOREIGN KEY ("commentId") REFERENCES "PageComment"("id") ON DELETE CASCADE ON UPDATE CASCADE;

